@model ML.Autor


@{
    ViewBag.Title = "Formulario para ingresar Autores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <h1 style="font-weight:bold">Autor</h1>
            <br />
            <h2>@ViewBag.Accion</h2>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h4>Ingrese la informacion solicitada</h4>
            <br />
        </div>
    </div>
    @using (Html.BeginForm("Form", "Autor", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-6 visually-hidden">
                @Html.LabelFor(model => model.IdAutor)
                @Html.TextBoxFor(model => model.IdAutor, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })

            </div>
            <div class="col-md">
                @Html.LabelFor(model => model.ApellidoPaterno)
                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })

            </div>
            <div class="col-md">
                @Html.LabelFor(model => model.ApellidoMaterno)
                @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })

            </div>
            <div class="col-md">
                @Html.LabelFor(model => model.FechaNacimiento)
                @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @id = "datepicker"})
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md">
 @*                @Html.LabelFor(model => model.Foto) *@
                @* <input type="file" id="Foto2" name="fuImagen" onchange="PreviewImagen(event)" />*@
                @if (Model.Foto == null)
                {
                    <img src="https://png.pngtree.com/png-vector/20191009/ourmid/pngtree-user-icon-png-image_1796659.jpg" id="imgUsuario" width="100" height="100" />
                }
                else
                {
                    <img id="imgUsuario" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Foto)" width="100" height="100" />
                }
                @Html.HiddenFor(model => model.Foto)
            </div>
        </div>
        <div class="form-group m-2">
            <label for="Foto" class="mb-1"><i class="fas fa-user"></i> Foto:</label>
            <br />
            <input type="file" id="Foto" name="Foto" onchange="PreviewImagen(event)" />
        </div>
        <br />
        <div class="row">
            <div class="col-md">
                <button class="btn btn-success bi bi-floppy" type="submit">
                    Guardar
                </button>
                @Html.ActionLink(" regresar", "GetAll", "Autor", new { area = "" }, new { @class = "btn btn-danger bi bi-arrow-left-square" })
            </div>
        </div>
    }

</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

@section scripts
    {

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="text/javascript">

        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1910:2023',
                maxDate: new Date()
            });
        });

        function PreviewImagen(event) {
            var output = document.getElementById('imgUsuario');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src)
            }
        }

    </script>

    }